<!-- <p>
  view-booking works!
</p> -->
<div class="container" >
  <md-card>
    <md-card-title>Your Current bookings</md-card-title>
    <md-table *ngFor="let array of arr" >
      <ng-container cdkColumnDef="Date">
        <md-header-cell *cdkHeaderCellDef>Date</md-header-cell>
         <md-cell *cdkCellDef> {{array.date}} </md-cell> 
      </ng-container>
      <ng-container cdkColumnDef="Time" >
        <md-header-cell *cdkHeaderCellDef>Time</md-header-cell>
         <md-cell *cdkCellDef> {{array.startTime}} </md-cell> 
      </ng-container>
      <ng-container cdkColumnDef="ReserveHour" >
        <md-header-cell *cdkHeaderCellDef>ReserveHour</md-header-cell>
         <md-cell *cdkCellDef> {{array.reserveHour}} </md-cell> 
      </ng-container>
      <ng-container cdkColumnDef="slotNumber">
        <md-header-cell *cdkHeaderCellDef>slotNumber</md-header-cell>
         <md-cell *cdkCellDef> {{array.slotNum}} </md-cell> 
      </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <!-- <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row> -->
    </md-table>
  </md-card>
</div>