<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Parking app</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-right">
        <button (click)="signup()" md-button style="background-color:cornflowerblue; margin-top: 7px;" class="btn btn-success">signup</button>
      </div>
    </div>
    
  </div>
</nav> -->

<md-toolbar  color="primary">
  <span style="margin-left: 10%">Parking App</span>

  <span class="example-fill-remaining-space"></span>
   <button (click)="signup()" md-button style="background-color:cornflowerblue; margin-left:60%" class="btn btn-success">signup</button>


</md-toolbar>


<div class="login">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submitform(loginForm)">
    <div class="form-group">
      <md-input-container>
        <input mdInput type="email" placeholder="Email" [formControl]="loginForm.controls['email']">
        <md-error >
          Email is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="password" placeholder="password" [formControl]="loginForm.controls['password']">
      </div>
    </md-input-container>
    <div class="form-group">
      <button md-button style="background-color:cornflowerblue;">login</button>
    </div>
  </form>
</div>