<md-toolbar color="primary">
  <span style="margin-left: 10%">Parking App</span>
  <span class="example-fill-remaining-space"></span>
  <button (click)="login()" md-button style="background-color:cornflowerblue; margin-left:60%" class="btn btn-success">login</button>

</md-toolbar>

<div class="signup">
  <h1>Signup</h1>
  <form [formGroup]="signupForm" (ngSubmit)="submitform(signupForm)">
     <div class="form-group">
      <md-input-container>
         <input mdInput type="email" placeholder="Name" [formControl]="signupForm.controls['name']">
      </md-input-container>
    </div> 
    <div class="form-group">
      <md-input-container>
        <input mdInput type="email" placeholder="Email" [formControl]="signupForm.controls['email']">
        <md-error>
          Email is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="password" placeholder="password" [formControl]="signupForm.controls['password']">
      </div>
    </md-input-container>
    <div class="form-group">
      <md-input-container>
         <input mdInput type="number" placeholder="Contact Number" [formControl]="signupForm.controls['number']">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
         <input mdInput type="text" placeholder="Address" [formControl]="signupForm.controls['address']">
      </md-input-container>
    </div>  
    <div class="form-group">
      <button md-button style="background-color:cornflowerblue;">signup</button>
    </div>
  </form>
</div>