<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Parking app</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-right">
        <button (click)="login()" md-button style="background-color:cornflowerblue; margin-top: 7px;" class="btn btn-success">login</button>
      </div>
    </div>
  </div>
  </nav> -->

<md-toolbar color="primary">
  <span style="margin-left: 10%">Parking App</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button (click)="login()" md-button style="background-color:cornflowerblue; margin-left:60%" class="btn btn-success">login</button>

  <!-- <span>Right Aligned Text</span> -->

</md-toolbar>

<div class="signup">
  <h1>Signup</h1>
  <form [formGroup]="signupForm" (ngSubmit)="submitform(signupForm)">
     <div class="form-group">
      <md-input-container>
         <input mdInput type="email" placeholder="Name" [formControl]="signupForm.controls['name']">
      </md-input-container>
    </div> 
    <div class="form-group">
      <md-input-container>
        <input mdInput type="email" placeholder="Email" [formControl]="signupForm.controls['email']">
        <md-error>
          Email is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="password" placeholder="password" [formControl]="signupForm.controls['password']">
      </div>
    </md-input-container>
    <div class="form-group">
      <md-input-container>
         <input mdInput type="number" placeholder="Contact Number" [formControl]="signupForm.controls['number']">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
         <input mdInput type="text" placeholder="Address" [formControl]="signupForm.controls['address']">
      </md-input-container>
    </div>  
    <div class="form-group">
      <button md-button style="background-color:cornflowerblue;">signup</button>
    </div>
  </form>
  <!-- <form [formGroup]="signupForm" (ngSubmit)="submitform(signupForm)">

    <md-input-container>
      <div class="form-group">
        <input mdInput type="text" placeholder="name" [formControl]="signupForm.control['name']">
      </div>
    </md-input-container>

    <md-input-container>
      <div class="form-group">
        <input mdInput type="email" placeholder="email" [formControl]="signupForm.control['email']">
      </div>
    </md-input-container>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="password" placeholder="password" [formControl]="signupForm.control['password']">
      </div>
    </md-input-container>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="number" placeholder="contact" [formControl]="signupForm.control['number']">
      </div>
    </md-input-container>
    <md-input-container>
      <div class="form-group">
        <input mdInput type="address" placeholder="address" [formControl]="signupForm.control['address']">
      </div>
    </md-input-container>
    <div class="form-group">
      <button md-button style="background-color:cornflowerblue;">signup</button>
    </div>
  </form> -->
</div>