<div class="container">
  <div *ngIf="selectstate == 'default'">
    <md-card>
      <md-card-title>Airport Parking</md-card-title>
      <md-card-subtitle>Jinnah International Airport Karachi</md-card-subtitle>
      <md-card-actions><a class="btn float-right" md-raised-button (click)="airport()" style="background-color:cornflowerblue; margin-left: 20px;">booking</a></md-card-actions>
    </md-card>

    <md-card>
      <md-card-title>Hospital Parking</md-card-title>
      <md-card-subtitle>Jinnah Hospital Karachi</md-card-subtitle>
      <md-card-content><strong>Address:</strong> Rafiqui Shaheed Road, Karachi, Sind, Pakistan Postal Code: 75510</md-card-content>
      <md-card-actions><a class="btn float-right" md-raised-button (click)="hospital()" style="background-color:cornflowerblue; margin-left: 20px;">booking</a></md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>college Parking</md-card-title>
      <md-card-subtitle>: DHA Sheikh Khalifa bin Zayed College</md-card-subtitle>
      <md-card-content><strong>Address:</strong> DHA Sheikh Khalifa bin Zayed College Campus - Khayaban-e-Rahat, Phase VI, DHA, Karachi.</md-card-content>
      <md-card-actions><a class="btn float-right" md-raised-button (click)="college()" style="background-color:cornflowerblue; margin-left: 20px;">booking</a></md-card-actions>
    </md-card>
  </div>
  <div *ngIf="selectstate == 'viewtime'">
    <md-card>
      <md-card-title>select time slot</md-card-title>
      <!-- <p><strong>Time</strong></p> -->
      <md-select placeholder="time" [(ngModel)]="time">
        <md-option *ngFor="let time of times" [value]="time">
          {{time}}
        </md-option>
      </md-select>

      <br><br><br><br>
      <!-- <p><strong>Date</strong></p>
      <input md-Input type="date"> -->
      <md-input-container>
        <input mdInput [min]="currentdate" [max]="maxDate" [mdDatepicker]="picker" placeholder="Choose a date">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
      <br><br><br><br>
      <md-select placeholder="reserve hours" [(ngModel)]="hour" name="hour">
        <md-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </md-option>
      </md-select>
      <br><br>
      <md-card-actions><a md-raised-button (click)="goback()" style="background-color:cornflowerblue; margin-left: 20px;">back</a>
        <a md-raised-button (click)="submit(picker,hour,time)" style="background-color:cornflowerblue;">next</a></md-card-actions>

    </md-card>
  </div>
  <div *ngIf="selectstate == 'selectslot'">
    <md-card>
      <md-card-title>Select space slot</md-card-title>
      <div *ngIf="place == 'airport'">
        <div *ngFor="let slot of airportslots">
          <md-card-actions>
            <div *ngIf="slot.reserves == true" class="box">
              <button md-raised-button (click)="booked(slot.slotNum)" style="background-color:cornflowerblue;">slot {{slot.slotNum}}</button>
              <!-- <a md-raised-button (click)="booked()" style="background-color:cornflowerblue;">slot {{slot.slotNum}}</a> -->
            </div>
            <div *ngIf="slot.reserves == false" class="box">
              <button md-raised-button (click)="notify()" style="background-color:yellow;">slot {{slot.slotNum}}</button>
            </div>
          </md-card-actions>
        </div>
      </div>
         <div *ngIf="place == 'hospital'">
          <div *ngFor="let slot of hospitalslots">
            <md-card-actions>
              <div *ngIf="slot.reserves == true" class="box">
                <button md-raised-button (click)="booked(slot.slotNum)" style="background-color:cornflowerblue;">slot {{slot.slotNum}}</button>
              </div>
              <div *ngIf="slot.reserves == false" class="box">
                <button md-raised-button (click)="notify()" style="background-color:yellow;">slot {{slot.slotNum}}</button>
              </div>
            </md-card-actions>
          </div>
        </div> 
         <div *ngIf="place == 'college'">
          <div *ngFor="let slot of collegeslots">
            <md-card-actions>
              <div *ngIf="slot.reserves == true" class="box">
                <button md-raised-button (click)="booked(slot.slotNum)" style="background-color:cornflowerblue;">slot {{slot.slotNum}}</button>
              </div>
              <div *ngIf="slot.reserves == false" class="box">
                <button md-raised-button (click)="notify()" style="background-color:yellow;">slot {{slot.slotNum}}</button>
              </div>
            </md-card-actions>
          </div>
        </div> 
    </md-card>
    </div>

  </div>


  <!-- <div *ngIf="routestate == 'airport'">
<airport></airport>
</div>
<div *ngIf="routestate == 'college'">
  <college></college>
</div>
<div *ngIf="routestate == 'hospital'">
  <hospital></hospital>
</div> -->